.iconfo {
    background: #00b0f3;
}

.glyi {
    padding-left: 10px;
}

.incofo2 {
    padding-top: 4px;
    background: #0094d0;
}

.verm {
    color: #ffffff;
    font-size: 17px;
}

.perq {
    padding-top: 14px;
    color: #ffffff;
}

.perq1 {
    padding-top: 15px;
    color: #ffffff;
}

.ui-helper-hidden-accessible {
    display: none;
}